<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alu's Unblocker</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="./vendor/normalize.css/normalize.css">
    <link rel="stylesheet" href="./vendor/aos/aos.css" />
    <link rel="icon" href="./img/icon.svg">
</head>
<body>
<script src="./vendor/aos/aos.js"></script>
<script src="./toggles.js"></script>
<script src="./main.js"></script> <!--header moment-->
<script src="/header.js"></script>
<div id="main">
<div class="top-header" data-aos="fade-down" data-aos-duration="1000">
    <div id="title-background" class="title-background"><a id="nav-toggle" class="mobile-toggle" onclick="openNav()"><i id="nav-icon"class="fa-2x fa-solid fa-bars"></i></a></div>
</div>
<div id="sidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <br>
    <a href="/" class="mobile-nav-header-item"><i class="fa-solid fa-house"></i> Home</a>
    <a href="/proxies" class="mobile-nav-header-item"><i class="fa-solid fa-browser"></i> Proxies</a>
    <a href="/games" class="mobile-nav-header-item"><i class="fa-solid fa-joystick"></i> Games</a>
    <div class="divider"></div>
    <a href="/bookmarklets" class="mobile-nav-header-item"><i class="fa-solid fa-bookmark"></i> Bookmarklets</a>
    <a href="/settings" class="mobile-nav-header-item"><i class="fa-solid fa-gear"></i> Settings</a>
    <div class="divider"></div>
    <a href="./credits" class="mobile-nav-header-item"><i class="fa-solid fa-align-left"></i> Credits</a>
    <a href="./docs.html" class="mobile-nav-header-item"><i class="fa-solid fa-book-bookmark"></i> Docs</a>
  </div>
</div>
<div class="main-content">
    <h1 class="title-text fade-in">Alu's<br>Unblocker</h1>
    <h4 class="subtitle-text fade-in">Alu's Unblocker is an advanced proxy service that features many different forms of exploits and services for use in the classroom.</h4>
    <a class="proxies-button" href="./proxies">Proxies</a>
</div>
<div class="mid-content">
    <div class="card">
        <h1 class="mid-content-title">Alu's Unblocker is an advanced proxy service that offers high reliability and low block rates</h1>
        <div class="gap"></div>
        <p class="middle-content">Alu's Unblocker has a wide variety of blockers and other services that are used to make school devices more versatile and overall more useful.</p>
    </div>
</div>
<div class="get-involved">
    <h1 class="gi-title">How you can contribute to Alu.</h1>
</div>
<div class="gi-card">
    <div class="donate">
        <h3>You can support development of Alu by subscribing to my patreon or by donating money to my paypal!</h3>
    </div>
<div class="buttons">
    <a href="#" class="donate-button"><i class="btn-icn fa-brands fa-patreon"></i></a>
    <a href="#" class="donate-button"><i class="btn-icn fa-brands fa-paypal"></i></a>
</div>
<br>
</div>
<div id="footer">
<div class="footerflex">
    <div class="footerbrand">
        <h3><a href="/">Alu's Unblocker</a></h3>
        <p>Made with ❤️ by <a href="#">wearr</a></p>
    </div>
    <div class="footerlist">
        <h3>Services</h3>
        <ul>
            <li><a target="_blank" href="https://github.com/titaniumnetwork-dev/Ultraviolet">Ultraviolet</a></li>
            <li><a target="_blank" href="https://github.com/binary-person/rammerhead">Rammerhead</a></li>
        </ul>
    </div>
    <div class="footerlist">
        <h3>Socials</h3>
        <ul>
            <li><a target="_blank" href="https://github.com/titaniumnetwork-dev/Holy-Unblocker">GitHub</a></li>
            <li><a href="/terms.html">Instagram</a></li>
            <div class="tooltip">
                <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                <li><a onclick="copyDiscord();" onmouseout="outFunc();" class="discord-text">Discord</a></li>
            </div>
        </ul>
    </div>
</div>
<p class="copyright">Alu's Unblocker &copy; 2022</p>
</div>
</div>
</body>
</html>